# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Generated
*.g.dart
*.freezed.dart

# Secrets
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/.kotlin/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
*.log
